@model RollBasedAuthentication.Model.Remark

@{
    ViewBag.Title = "AddRemarks";
}

<form action="/HR/AddRemarks" method="post">

    <h2>AddRemark</h2>
    <div>
        <table>
            <tr>
                <th>
                    <label>Select Employee:</label>
                </th>
            </tr>
            <tr>
                <th>

                    @if (ViewData["Employee"] != null)
                    {
                            
                        @Html.DropDownList("SelectedIndex", ViewData["Employee"] as List<SelectListItem>);
                    }
                </th>
            </tr>
            <tr>
                <th>
                    <label>Remark:</label>
                </th>
            </tr>
            <tr>
                <th>
                    @Html.TextAreaFor(Model => Model.Text, new { @class = "resizer" })
                    @Html.ValidationMessageFor(m => m.Text)
                </th>
            </tr>
            <tr>
                <th>
                    <input id="AddRemarkButton" type="submit" value="Add" />
                </th>
            </tr>
            <tr>

                <th>
                    @Html.Label(ViewData["Label"].ToString())
                </th>
            </tr>
        </table>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</form>
